@page
@model SM.APP.Pages.Admin.Class.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Meeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Meeting.MeetingDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class.ClassID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
