@page
@model SM.APP.Pages.Admin.Class.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Meeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.MeetingDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClassID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClassID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
