@page
@model SM.APP.Pages.Admin.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>
<form method="get">
    <div class="mb-3 d-flex align-items-center">
        <div class="form-floating flex-grow-1">
            <input asp-for="UserCode" class="form-control" id="SearchString" placeholder="Enter Code" />
            <label asp-for="UserCode">Code</label>
        </div>
        <div class="form-floating flex-grow-1">
            <input asp-for="FirstName" class="form-control" id="SearchString" placeholder="First Name" />
            <label asp-for="FirstName">First Name</label>
        </div>
        <div class="form-floating flex-grow-1">
            <input asp-for="LastName" class="form-control" id="SearchString" placeholder="Last Name" />
            <label asp-for="LastName">Last Name</label>
        </div>
        <button id="btnCheck" type="submit" class="btn btn-primary ms-2">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].UNFileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].UNPersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Baptised)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].ImageReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Member)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UNFileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UNPersonalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baptised)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MemberID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MemberID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MemberID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
