@page
@model SM.APP.Pages.Admin.Meeting.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].AgeStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].AgeEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MeetingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MeetingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MeetingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
